@model IEnumerable<MVCProject1.Models.Department>
@{
    ViewBag.Title = "ListDepartment";
}

<h2>List of Departments</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Dept Id</th>
            <th>Dept Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.DeptName</td>
                </tr>
            }
    </tbody>
</table>


