{
    ViewBag.Title = "GetCategoryByname";
}

<h2>GetCategoryByname using Method Syntax</h2>

@foreach (var item in Model)
{

    <li>@item</li>
}

<hr />

<h2>Get Category By Name using Query syntax</h2>

@*@foreach (var item in Model)
    {
        <li>@item</li>
    }*@